{% extends 'portfolio_projects/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}Contact Me{% endblock %}
{% block decription %}Contact information for reaching me{% endblock %}
{% block keywords %}contact, email, phone, LinkedIn{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3 align-items-center">
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">Contact Me</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p><strong>Email:</strong> anusree.pillai@gmail.com</p>
          <p><strong>Phone:</strong> +46 705553261</p>
          <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/anu-pillai-2a5645295"> Click to Connect with Linkdin</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================================
End Content
================================= -->
{% endblock %}
