{% extends 'portfolio_projects/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}
<style>
    /* Ensure project images are displayed in a row */
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center content vertically */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        
    }

    img {

        width: 700px;
        height: 100px;
        
    }
</style>
{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <div class="row g-4 g-md-3  align-items-center">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3">See my recent projects below</h1>
          </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lightBg">
    <div class="container">
      <div class="portfolioContentMain">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            {% for obj in object_list %}
            <div class="swiper-slide">
              <a href="{% url 'portfolio_projects:portfolio' slug=obj.slug %}">
                <img src="{{ obj.image.url }}" class="pImg" alt="Project Image">
              </a>
            </div>
            {% endfor %}
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Navigation -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Content -->
{% endblock %}

<!-- ================================
Start JavaScript blocks
================================= -->
{% block extend_footer %}
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        slidesPerView: 1, // Display one slide at a time
        spaceBetween: 30, // Adjust the space between slides if needed
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    // Access each slide individually
    swiper.slides.forEach(function (slide, index) {
        console.log('Slide ' + (index + 1) + ':', slide);
    });
});

</script>
{% endblock %}
<!-- ================================
END JavaScript blocks
================================= -->
