{% extends 'portfolio_projects/base.html' %}
{% load static %}

<!-- ================================
Start SEO blocks
================================= -->
{% block title %}{% endblock %}
{% block decription %}{% endblock %}
{% block keywords %}{% endblock %}
<!-- ================================
END SEO blocks
================================= -->

<!-- ================================
Start CSS blocks
================================= -->
{% block extend_header %}
<style>
  /* Custom CSS to reduce space between project name and body */
  .sectionSpaceSm .container {
    margin-top: -95px; /* Adjust this value as needed */
  }
</style>{% endblock %}
<!-- ================================
END CSS blocks
================================= -->

<!-- ================================
Start script blocks
================================= -->
{% block extend_footer %}{% endblock %}
<!-- ================================
END script blocks
================================= -->

<!-- ================================
Start Content
================================= -->
{% block content %}
<section>
  <div class="innerPageBannerCol">
    <div class="container">
      <!--<div class="row g-4 g-md-3  align-items-center">-->
        <div class="col-md-6">
          <div class="bannerContent">
            <h1 class="xlTitle pb-md-3" >{{object.name}}</h1>
            
          </div>
          <li><a href="{{ object.git_link }}"><img src="{% static 'images/icons8-github-26.png' %}" alt="..."></a></li>
       
        </div>
        

      <!--</div>-->
    </div>
  </div>
</section>
<section>
  <div class="sectionSpaceSm">
    <div class="container" style="font-family: cursive;">
      {{ object.body|safe }}
      
    </div>
  </div>
</section>

<!--<section>
  
  <div class="sectionSpaceSm">
    <div class="container">
      {{object.body|safe}}
    </div>
  </div>
</section>-->
<!-- ================================
End Content
================================= -->
{%endblock%}
    